:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-beige: #F3E3C8;
  --c-green: #2E615F;
  --c-red: #C9523B;
  --c-yellow: #CD8F26;
  --c-blue: #204062;

  --c-turquoise-light: #A1BAC3;
  --c-turquoise-medium: #7995A5;
  --c-turquoise-dark: #3D5873;

  // Texts
  --c-text-white: #FFFFFF;
  --c-text-dark: #OOOOOO;
  --c-text-turquoise: var(--c-turquoise-dark);

  // Fonts
  --ff-eczar: "Eczar";
  --ff-rubik: "Rubik";
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: var(--c-beige);
  color: var(--c-text-white);
}
